<div class="settings-bar">
  <button
    class="menu-btn"
    (click)="settingsClick()"
    mat-fab
    aria-label="Example icon button with a vertical three dot icon"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <div class="settings-bar__right" *ngIf="currentRoute === '/'">
    <button class="menu-btn" mat-icon-button (click)="undo()">
      <mat-icon>undo</mat-icon>
    </button>

    <button class="menu-btn" mat-icon-button (click)="resetScore()">
      <mat-icon>history</mat-icon>
    </button>

    <button class="menu-btn" mat-flat-button (click)="viewToggleClick()">
      {{ currentView }}
    </button>
  </div>
</div>
