.score-counter {
  display: grid;

  height: calc(100dvh - 100px);
  margin: 0;
  padding: 0;

  .two-players {
    grid-template-rows: 1fr 1fr;
  }

  .three-players {
    grid-template-rows: 1fr 1fr 1fr;
  }
}
