<div class="settings">
  <form
    class="settings__form"
    [formGroup]="settingsForm"
    (submit)="submitSettings()"
  >
    <h2>Settings</h2>
    <div>
      <mat-button-toggle-group formControlName="numPlayers">
        <mat-button-toggle [value]="2">2 Players</mat-button-toggle>
        <mat-button-toggle [value]="3">3 Player</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <mat-form-field class="example-full-width">
      <mat-label>Player 1</mat-label>
      <input type="text" matInput formControlName="player1" />
      @if (settingsForm.get('player1')?.hasError('required')) {
      <mat-error>player 1 name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Player 2</mat-label>
      <input type="text" matInput formControlName="player2" />
      @if (settingsForm.get('player2')?.hasError('required')) {
      <mat-error>player 2 name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <mat-form-field
      class="example-full-width"
      *ngIf="settingsForm.get('numPlayers')?.value === 3"
    >
      <mat-label>Player 3</mat-label>
      <input type="text" matInput formControlName="player3" />
      @if (settingsForm.get('player3')?.hasError('required')) {
      <mat-error>player 3 name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <button [disabled]="!settingsForm.valid" mat-flat-button>
      Save Changes
    </button>
  </form>
</div>
<app-settings-bar></app-settings-bar>
